@import url(reset.css);
body{
    font-size:100%;
    font:bold 15px Arial, Verdana, sans-serif;
}
.row{
    margin-right: 0;
}
.header_topline{
    height:60px;
    background: url() #32CD32;
    overflow: hidden;
}
.top_links ul{
    padding-top:8px;
    text-align: center;
}
.top_links ul li{
    list-style: none; 
    display: inline-block;
    padding-right:15px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    
}
.top_links a{
    color:#FFF;
    text-transform: uppercase;
    border-bottom: 1px dashed #fff;
}
.top_links a:hover{
    text-decoration: none;
    border-bottom: none;
    
}
header .button{
    font:bold 15px Arial, Verdana, sans-serif;
    color:black;
    background-color: #ffcc00;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    border:none;
    padding: 10px 15px;
}
.header_contact{
    margin-top:20px;
}
.logo{
    width:100%;
}
.fa.fa-map-marker{
    font-size:45px;
    float:left;
    padding:5px;
    margin-top:-5px;
}
.adress{
    padding:5px;
    font-size:16px;
    font-weight:bold;
}
.header_contact_email{
    margin-top:50px; 
    font-size:18px;
}
.header_contact_email a{
    color: #87CEFF;
}
.fa.fa-envelope-o{
    padding-right:5px;
}
.header_phone span{
    font-size:1.2em;
    padding-right:0.8em;
}
.header_phone strong{
    font-weight: bold;
}
.header_phone a{
    padding:15px 27px;
    margin-top:25px;
}
.header_main{
    background-image: url(../img/slide3.jpg);
    height:380px;
    width:100%;
    margin-top:20px;
}
.header_cont{
    margin-top: 170px;
    color:white;
    text-align: left;
}
.header_cont h1{
    font-size:50px; 
    text-transform: uppercase;
    font-weight:bold;
}
.header_cont p{
    font-size:30px; 
    text-transform: uppercase;
    font-weight:bold;
}
.header_cont span{
    font-size:40px; 
}

.header_form{
    height: 365px;
    position:relative;
    background: url(../img/form_head.png) no-repeat;
    margin-top: 15px;
    
}
.header_form h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    padding-top: 22px;
}
.header_form .sec_str{
    color:white;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 0.2em;
    padding-left: 15px;   
}
.header_form .th_str{
    color:white;
    font-size: 18px;
    padding-left: 28px;
}
.header_form .th_str span{
    color: yellow;
    font-size: 40px;
    font-weight: bold;
}
.header_form .f_str{
    color: white;
    font-size: 22px;
    padding-left: 80px;
}
.header_form  input{
    width: 350px;
    height:40px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(255,255,255,.75);
}
.header_form button{
    padding: 10px 35px;
    color:white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px 0 0 95px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.header_menu{
    height:60px;
    background: url() #FF6600;
}
.header_menu ul{
    overflow: hidden;
    text-align: center;
}
.header_menu ul li{
    display: inline-block;
    padding:20px 50px;
    text-transform: uppercase;
    color: #fff;
}
.header_menu a{
    color:#fff;
    font-weight:bold;
    font-size: 1em;
}   
.divider h2{
    color: #00CD00;
    text-align: center;
    padding: 40px;
    font-size: 1.5em;
    font-weight:bold;
}
.content{
    background-image: url(../img/bg.png);
}
.wrap{
    width:940px;
    margin:0 auto;
}
.advantage .icons{
    text-align: center;
}
.advantage .icons img{
    padding-bottom: 1.25em;
}
.advantage .icons span{
    font-weight: bold;
}
.advantage .garant span{
    color: green;
}
.advantage .free span{
    color: #87CEFA;
}
.advantage .present span{
    color: darkorange;
}
.promo{
    position:relative;
}
.discont{
    padding: 50px;
    float:left;
    height: 138px;
    background: url(../img/promo.png) no-repeat;
}
.kredit{padding: 50px;
    float:right;
    height: 138px;
    background: url(../img/promo_1.png) no-repeat;
}
.discont p{
    position:absolute;
    top:20px;   
    left: 280px;
    font-size: 20px;
}
.discont span{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}
.kredit{
    height: 138px;
    background: url(../img/promo_1.png) no-repeat;
}
.kredit p{
    position:absolute;
    top:50px;   
    left: 290px;
    font-size: 30px;
    color:darkred;
}
.kredit span{
    color:#fff;
    font-weight:bold;
}
.romb {
    float:left;  
    clear:both;
    width: 70px;
    height: 70px;
    margin: 20px 70px 0;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.why_we{
    font-size: 12px;
    text-align: center;
    line-height: 1.5em;
}
.why_we h3{
    font-size: 16px;
    font-weight:bold;
    padding: 10px 0;
}
.orange_romb{
   background: orange; 
}
.blue_romb{
   background:  #87CEFA; 
}
.green_romb{
   background: green; 
}
.yellow_romb{
   background: yellow; 
}
.red_romb{
   background: red; 
}
.orange_romb{
   background: orange; 
}
.why_we h3{
    font-weight: bold;
    font-size:20px;
}
.block{
    width: 460px;
    height:100px;
    margin: 14px 8px 0;	
}
.call_block{
    background-color: rgb(123,174,99);
	background-color: rgba(123,174,99,.5);
}
.calc_block{
    background-color: rgb(42,182,218);
	background-color: rgba(42,182,218,.5);
}
.block p{
    float: left;
    color:#fff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block
}
.block a{
    display: block;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 16px;
    text-transform: lowercase;
    text-decoration: none;
}
.block_btn{
    float: right;
    margin-top: 35px
}

.our_work .f_row{
    padding-bottom: 24px;
}
.our_work figure {
	display: inline-block;
	position: relative;
    border-radius: 15px;
}
.our_work figcaption {
	position: absolute;
	top: 75%;
	bottom:1% ;
	left: 0;
	right: 0;
	background-color: rgb(86,86,86);
	background-color: rgba(86,86,86,.8);	
	padding: 15px;
	font-family: Titillium, Arial, sans-serif;
	font-size: 1.5em;
	color: white;
	opacity: 0.90;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.about{
    line-height: 1.2em;
    
}
.about img {
    display: inline-block;
    margin-right: 10px;
}
.about p{
    padding-bottom: 10px;
}
.about span{
    text-transform: uppercase;
}
.descrip{
    padding-left:30px;
}
.about li{
    padding-left:5px;
}
.about ol{
    list-style-type: decimal;
}
.feedback img{
    display: block;
    float:left;
}
.bubble {
    width: 185px;
    height: 195px;
    background: white;
    position: relative;
    margin: 0 115px 23px ;
    line-height: 1.2em;
    text-align: center;
    vertical-align: middle;
}
.bubble:before {
    content: '';
    display: block;
    background: transparent
    width: 0px;
    height: 0;
    position: absolute;
    bottom: 150px;
    left: -20px;
    border-top: 0px solid white;     
    border-right: 50px solid transparent;
    border-bottom: 30px solid  transparent; 
    border-left: 30px solid white;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.bubble p{
    padding-left:13px;
    padding-right: 3px;
    text-align: left;
    font-size: 0.9em;
    color: #434343;
}
.bubble span{
    color:#597cf7;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    padding: 15px 0 18px 0;
    display: block;
}
.social{
    margin: 25px 0 50px 0;
}
.ok{
    padding-left: 20px;
}
footer{
    background-image: url(../img/bg_footer.png);
    padding: 16px 0 20px ;
    color: #434343;
    line-height: 1.2em;
    
}
footer .link a{
    color: #434343;
    text-decoration: none;
    line-height: 1.2em;
}
.social_button{
    padding-left: 20px;
    text-align: right;
    
}
.contact span{
    font-weight:bold;
}
.social_button ul{
    padding-top: 10px;
    text-align: center;
    margin-left: 15px;
}
.social_button li {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-left: 5px;
}
.vk_b{
    background: url(../img/vki.png) no-repeat;
}
.fb{
    background: url(../img/vki.png) no-repeat;
}
.ok_b{
    background: url(../img/vki.png) no-repeat;
}
.in{
    background: url(../img/vki.png) no-repeat;
}
.copywright{
    color: #8f8f8f;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
}
.btn{    
    font:bold 15px Arial, Verdana, sans-serif;
    color:white;
    background-color: #5d9b38;
    border-radius: 25px;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 70px;
}
.zakaz div{
    padding: 0 50px;
    padding-bottom:15px;
}
